.sidebar {
    background-color: #2338a0;
    min-width: 404px;
    padding-top: 20px;
    min-height: calc(100vh - 60px);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar .nav-link {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}
.sidebar .nav-link i {
    color: white;
}
.sidebar .nav-link:hover,
.sidebar .nav-link:focus {
    /*background-color: #4da3f9;*/
    background-color: #0b5ed7;
    color: #fff;
}
.sidebar .nav-link:hover i,
.sidebar .nav-link:focus i {
    color: #fff;
}

/* active 상태에서 폰트 굵게 */
.sidebar .nav-link.active {
    color: white;
    font-weight: 500; /* 더 굵게 */
}

/* 모바일에서 사이드바 토글 형태 */
@media (max-width: 1370px) {
    .sidebar {
        position: absolute;
        top: 60px;
        left: 0;
        width: 180px;
        height: auto;
        background-color: #2338a0;
        transform: translateX(-100%);
        z-index: 1000;
    }
    .sidebar.show {
        transform: translateX(0);
    }
}